@use '_variables' as *;

.board {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 20px;
}

.board-row {
  display: flex;
  gap: 4px;
}

.board-tile {
  width: 60px;
  height: 60px;
  border: 2px solid #d3d6da;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  
  // Default state
  &.empty {
    background-color: $white;
    color: $black;
  }
  
  // Wordle colors
  &.correct {
    background-color: $correct;
    color: $white;
    border-color: $correct;
  }
  
  &.present {
    background-color: $present;
    color: $white;
    border-color: $present;
  }
  
  &.absent {
    background-color: $absent;
    color: $white;
    border-color: $absent;
  }
}